includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 5
	paths:
		- basicrum.php
		- src
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	tmpDir: /tmp/basicrum-phpstan
